/* Then in your CSS, we'll set it up just by adding the CSS reset: */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----- Temporary styles for structural html -----------
* {
    padding: 0.5rem;
    border: 1px solid rgb(225,225,225);}
 ------------------------------------------------------ */


/* Universal styles & utility classes */
body {
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}

.padded     {    padding: 5%;    }
.padded-1   {    padding: 1rem;  }
.padded-lg  {    padding: 10%;   }

.bg-dark    {   background-color: #192B37;
                color: white;
            }

.text-left      { text-align: left;     }
.text-right     { text-align: right;    }
.text-center    { text-align: center;   }

.tall-50        { min-height: 50vh;     }
.tall-60        { min-height: 60vh;     }
.tall-70        { min-height: 70vh;     }
.tall-80        { min-height: 80vh;     }
.tall-90        { min-height: 90vh;     }
.tall-100       { min-height: 100vh;    }

.white-text     { color: white;       }



            /*----------- Typography & Font Utility Classes -----------*/
            /* font-family: 'EB Garamond', serif; 400, 500, 600, 700 
            font-family: 'Catamaran', sans-serif; 200, 400, 500, 800 --- */

/* Catamaran Font */
.bold-font          {   font-weight: 800;       }
.normal-font        {   font-weight: 500;       }
.light-font         {   font-weight: 200;       }

.xs-text            {   font-size: 1.5rem;  
                        line-height: 1.6rem;    }

.small-text         {   font-size: 1.5rem;      }
.medium-text        {   font-size: 1.8rem;      }
.big-text           {   font-size: 4.5rem;      }

.line-height-1      {   line-height: 0.8rem;      }


.yellow             {   color: #FFBE00;         }
.subtitle           {   font-size: 1rem;
                        color: rgb(120,120,125);}

.subtle           {     opacity: 0.5;   
    margin-top: 3rem;
    margin-bottom: 0;
}

/*--------------------------------- Header styles ---------------------------------*/

header {
    background-image: url('/images/Munich_Musicvideo1.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(25, 43, 55);
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1em;
  }

  .span-bg {
    display: block;
    margin-bottom: 5px;
    padding: 0.5rem;
    background-color: rgba(25, 43, 55, 0.5);
  }

 
h3 {
    letter-spacing: 0.05em;
    line-height: 1;
}

p {
    font-weight: 200;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none; 
}

a:hover {
    color:#FFBE00;
}

/* --------------------------------- Image-Styles --------------------------------- */
.bg-image { 
    background-color: rgba(25, 43, 55, 0.5);
    background-size: cover;
    min-height: 10rem;
}

/* --------------------------------- Background Images ----------------------------- */
.bg-ryan-sofa-guitar     { 
    background-image: url('/images/3Artists_Guitar.jpg');
    background-color: rgba(25, 43, 55);
   }

.bg-br-abendschau        { 
        background-image: url('/images/BR_Videothek.jpg');  
        background-size: cover;
        background-position: 51% 100%;
        background-color:#FFBE00;
    }

.bg-only-human           {  
        background-image: url('/images/3Artists_Only_Human.jpg');
        background-position: 51% 39%;
        background-color: rgba(25, 43, 55);
                         }

.bg-sofa-guitar         {   
    background-image: url('/images/3Artists_Sofa.jpg');
    background-color: rgba(25, 43, 55);     
}


/*--------------------------------- Icon Grid ---------------------------------*/
.fas {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem; 
}

.quote-icon    {
    font-size: 5rem;
    display: inline-block;
    color: rgb(120,120,125);
    line-height: 1;
}