/* Then in your CSS, we'll set it up just by adding the CSS reset: */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Temporary styles for structural html */

* {
    padding: 0.5rem;
    border: 1px solid rgb(225,225,225);}

body { border: none; }


html { 
    border: none; 
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}



/* Image-Styles */
.bg-image { 
    background-image: url('/images/Munich_Odeonsplatz_Lion.jpg');
    background-size: cover;
    min-height: 10rem;
}

/* Universal styles & utility classes */
.padded     {   padding: 5%;    }
.padded-1  {    padding: 1rem;  }

.bg-dark    {   background-color: #192B37;
                color: white;
            }

.text-left      { text-align: left;     }
.text-right     { text-align: right;    }
.text-center    { text-align: center;   }

.tall-80        {  min-height: 80vh;    }
.tall-90        { min-height: 90vh;     }
.tall-100       { min-height: 100vh;    }


            /* Font */

            /* font-family: 'EB Garamond', serif; 400, 500, 600, 700 - Catamaran 200,400,500,800
            font-family: 'Catamaran', sans-serif;
font-family: 'EB Garamond', serif; /*


/* Header styles */

header {
    background-image: url('/images/3Artists_Teacher.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

/*I want the background-color to end with the word, but display: flex; - or item-align: flex-end;  doesn't work*/
span {
    background-color: rgba(25, 43, 55, 0.5);
    padding: 0.5rem;
    display:block;
  }

  header h2 {
      font-size: 3rem;
  }

  /* I want to add a line-height of 1 but it doesn't work */

  header h1 {
    align-items: flex-end;
    align-items: center;
  }