/* Then in your CSS, we'll set it up just by adding the CSS reset: */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----- Temporary styles for structural html -----------
* {
    padding: 0.5rem;
    border: 1px solid rgb(225,225,225);}
 ------------------------------------------------------ */


body { border: none; }

html { 
    border: none; 
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}

/* -----------------------------------------------------------------*/

/* Image-Styles */
.bg-image { 
    background-image: url('/images/Munich_Odeonsplatz_Lion.jpg');
    background-size: cover;
    min-height: 10rem;
}

/* Universal styles & utility classes */
.padded     {   padding: 5%;    }
.padded-1  {    padding: 1rem;  }

.bg-dark    {   background-color: #192B37;
                color: white;
            }

.text-left      { text-align: left;     }
.text-right     { text-align: right;    }
.text-center    { text-align: center;   }

.tall-80        { min-height: 80vh;     }
.tall-90        { min-height: 90vh;     }
.tall-100       { min-height: 100vh;    }



            /* Typography & Font Utility Classes */

            /* font-family: 'EB Garamond', serif; 400, 500, 600, 700 
            font-family: 'Catamaran', sans-serif; 200, 400, 500, 800 --- */

/* Catamaran Font */
.bold-font           {  font-weight: 800;  }
.light-font          {  font-weight: 200;  }

/* Header styles */

header {
    background-image: url('/images/Munich_Musicvideo1.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1em;
  }

  .span-bg {
    display: block;
    margin-bottom: 5px;
    padding: 0.5rem;
    background-color: rgba(25, 43, 55, 0.5);
  }

  h2 {
    margin-bottom: 0.5rem;
}

header h2 {
    letter-spacing: 0.05em;
}

p {
    font-weight: 200;
}